@import 'utils/variables.scss';
@import 'utils/mixins.scss';

@import 'animations/heart.scss';

@import 'base/base.scss';

@import 'layouts/header.scss';
@import 'layouts/headings.scss';
@import 'layouts/tutorial.scss';
@import 'layouts/restaurants.scss';
@import 'layouts/footer.scss';
@import 'layouts/restaurant-page.scss';

@import 'components/button.scss';
@import 'components/card.scss';
@import 'components/dish-card.scss';
