$primary-color: #9356DC;
$secondary-color:#FF79DA;
$third-color:#99E2D0;
$lightgray:rgb(240, 240, 240);
$radius-corner: 15px;
$size: 24px;
$Shrikhand: 'Shrikhand', sans-serif;
$shadow: 0px 3px 0.5rem rgb(0 0 0 / 25%);
$white-color: white;